<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <connectionStrings>
   <add name="ImageMatch_Desktop_Context" connectionString="Server=localhost;Database=ImageMatch_Desktop;User Id=imd_user;Password=imd_user_pwd;SslMode=None;CharSet=utf8mb4" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
